@import "../../../common/variables";

.Heading {
  font-size: 32px;
  line-height: 40px;
  font-family: $font-heading-2;
  margin-block-start: auto;
  color: $colour-text-black;
  .darkMode & {
    color: $colour-text-white;
  }
}

h1.Heading {
  font-size: 48px;
  line-height: 56px;
  font-family: $font-heading-1;
}
