$colour-background-light: #f5f5f5;
$colour-background-dark: #262529;

$colour-header-light: #9c5dd6;
$colour-header-dark: #3c0470;

$colour-text-black: #000000;
$colour-text-white: #ffffff;

$colour-text-red-light: rgb(255, 0, 0);
$colour-text-red-dark: rgb(255, 59, 59);
$colour-text-orange-light: rgb(255, 115, 0);
$colour-text-orange-dark: orange;
$colour-text-yellow-light: rgb(214, 193, 5);
$colour-text-yellow-dark: yellow;
$colour-text-green-light: green;
$colour-text-green-dark: rgb(0, 187, 0);
$colour-text-blue-light: blue;
$colour-text-blue-dark: blue;
$colour-text-purple-light: purple;
$colour-text-purple-dark: rgb(185, 0, 185);
$colour-text-grey-light: rgb(94, 94, 94);
$colour-text-grey-dark: rgb(190, 190, 190);
$colour-text-brown-light: rgb(104, 59, 29);
$colour-text-brown-dark: rgb(146, 99, 61);

$font-heading-1: "Comfortaa", "Roboto", sans-serif;
$font-heading-2: "Roboto", sans-serif;
$font-user-text: "Open Sans", sans-serif;
$font-interface-text: "Montserrat", sans-serif;
